@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
body{
    background: url(Image.jpg);
    background-position: center;
    background-size: cover;
}
.form-box{
    width: 350px;
    box-shadow: 0 0 10px rgb(5, 5, 5);
    margin: 100px auto;
    background-color: white;
    padding: 50px 25px;
    border-radius: 30px;
}
input{
    width: 100%;
    height: 40px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #999;
    padding: 20px;
}
.input-g{
    margin: 20px auto;
    position: relative;

}
label{
    position: absolute;
    top: -8px;
    left: 20px;
    background: white;
    padding: 0 5px;
}
button{
    padding: 10px 20px;
    border: none;
    background-color: red;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(5, 5, 5);
}
button:hover{
    background-color: black;
    transition: 0.5s;
    box-shadow: 0 0 10px rgb(5, 5, 5);
}
h2{
    width: 200px;
    text-align: center;
    box-shadow: 0 0 10px rgb(5, 5, 5);
    margin: -80px auto 30px;
    height: 40px;
    padding-top: 15px;
    border-radius: 30px;
    background-color: white;
}
p{
    margin: 20px 30px;
    text-align: center;
}
ul li{
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    
   
}
.lit{
    text-align: center;
    color: blue;
    
}
